fastapi==0.114.2
python-multipart==0.0.9
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
asyncpg==0.29.0
pydantic-settings==2.4.0
prometheus-fastapi-instrumentator==6.1.0
prometheus-client==0.20.0
python-jose==3.3.0
chess==1.11.2
alembic==1.13.2
orjson==3.10.7  # Быстрая JSON сериализация (в 2-3 раза быстрее стандартного json)

